<a href="/home">Home page</a>
<button class="saveBut btn btn-warning" ng-hide="auction.draftComplete" ng-click="auction.completeDraft()">Draft complete</button>
<button class="saveBut btn btn-warning" ng-show="auction.draftnotSaved" ng-click="auction.saveDraft()">Save Draft</button>
<h3 class="saveBut text-success" ng-show="auction.draftSaved">Draft Saved</h3>
<h2 class="draftname">{{auction.data.draftName}}</h2>
<button class="btn btn-danger" ng-hide="auction.undune" ng-click="auction.undo()">Undo last pick</button>
<div class="container">
  <div class="row">
    <div class="container teams col-md-1 col-lg-1" ng-repeat="team in auction.data.setTeams track by $index">
      <h3>{{team}}</h3>
      <h4>${{auction.data.teamInfo[$index].cash}}</h4>
      <ul>
        <li class="teamlist {{player.position}}" ng-repeat="player in auction.data.teamInfo[$index].teamList">
         {{player.displayname}} {{player.position}} {{player.team}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3 ng-hide="auction.playerSelected">Select a Player</h3>
      <h3>{{auction.selectedPlayer.displayname}} {{auction.selectedPlayer.position}}
        {{auction.selectedPlayer.team}}</h3>
        <label for="amount">Enter Amount:</label>
        <input type="number" ng-model="auction.amount" id="amount" />
        <label for="draftedTeam">Select a Team</label>
        <select name="draftedTeam" ng-model="auction.selectedTeam" id="draftedTeam">
          <option ng-repeat="team in auction.data.setTeams" value={{team}}>{{team}}</option>
        </select>
        <button ng-click="auction.draft()">Draft Player</button>
        <h4>{{auction.displayMessage}}</h4>
    </div>
    <div class="search col-md-4">
      <label for="Search">Search by last name:</label>
      <input type="text" ng-model="searchInput" id="search" />
      <ul>
        <li ng-show="searchInput" ng-repeat="player in auction.data.players | filter:{lname: searchInput} | limitTo: 10"  ng-click="auction.selectPlayer(player)">
          {{player.displayname}} {{player.position}} {{player.team}}
        </li>
      </ul>
    </div>
    <div class="playerlist col-md-3">
      <div class="row">
        <p class="narrowList col-md-1" ng-repeat="position in auction.positions" ng-click="auction.narrow(position)">
          {{position}}
        </p>
      </div>
        <ul>
        <li ng-repeat="player in auction.displayList track by $index" ng-click="auction.selectPlayer(player)">
        {{player.overallRank}}. {{player.displayName}} {{player.displayname}} {{player.position}} {{player.team}}
        </li>
      </ul>
      <button ng-show="auction.endList" ng-click="auction.prevDisplay()">Prev</button>
      <button ng-show="auction.startList"ng-click="auction.nextDisplay()">Next</button>
    </div>
  </div>
