<div class="home">
  <h2>Welcome to Fantasy Football Draft App</h2>
  <p>Here you can select which activity you would like to do. You can either
    choose to do an auction draft or a traditional snake draft, or you can
    view previous drafts that you have saved.</p>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-lg btn-info" ng-click="home.auction()">Start Auction Draft</button>
          <p>In an auction draft you bid on players then place them on the selected team.
          </p>
        </div>
        <div class="col-md-3">
          <button class="btn btn-lg btn-info" ng-click="home.snake()">Start Snake Draft</button>
          <p>In Snake Draft teams draft in order in one round then reverse the order the next round.
            There is also a clock option that limits the time you have to make your picks.
          </p>
        </div>
      <div class="col-md-3">
        <button class="btn btn-lg btn-info" ng-click="home.viewPrevious()">View Previous Drafts</button>
        <p>Here you can view the results of your previous drafts that you have saved.
        </p>
      </div>
      <div class="col-md-3">
        <button class="btn btn-lg btn-info" ng-click="home.individual()">Individual Draft</button>
        <p>Here you can view the results of your previous drafts that you have saved.
        </p>
      </div>
    </div>
  </div>
</div>
