<a href="/home">Home page</a>
<button class="saveBut btn btn-warning" ng-hide="snake.draftComplete" ng-click="snake.completeDraft()">Draft complete</button>
<button class="saveBut btn btn-warning" ng-show="snake.draftnotSaved" ng-click="snake.saveDraft()">Save Draft</button>
<h3 class="saveBut text-success" ng-show="snake.draftSaved">Draft Saved</h3>
<h2 class="draftname">{{snake.data.draftName}}</h2>
<ul class="clock">
<li><button ng-hide="snake.showClock" ng-click="snake.startCountdown()">Start Clock</button>
  <button ng-show="snake.showClock" ng-click="snake.stopClock()">Stop Clock</button>
<h3 ng-show="snake.showClock">{{snake.minutes}}:{{snake.seconds}}</h3></li>
</ul>
<button class="btn btn-danger" ng-hide="snake.undune" ng-click="snake.undo()">Undo last pick</button>
<div class="container">
  <div class="row">
    <div class="teams col-md-1 col-lg-1" ng-repeat="team in snake.data.setTeams track by $index">
      <h3>{{team}}</h3>
      <ul>
        <li class="teamlist {{player.position}}" ng-repeat="player in snake.data.teamInfo[$index].teamList">
          {{player.displayname}} {{player.position}} {{player.team}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3 ng-hide="snake.playerSelected">Select a Player</h3>
      <h3>{{snake.selectedPlayer.displayname}} {{snake.selectedPlayer.position}}
          {{snake.selectedPlayer.team}}</h3>
        <button ng-click="snake.draft()">Draft Player</button>
        <h4>Team Drafting: {{snake.selectedTeam}}</h4>
        <h4>Up Next: {{snake.onDeck}}</h4>
        <h4>Up After: {{snake.inTheHole}}</h4>
        <h4>{{snake.displayMessage}}</h4>
        <h4 ng-show="snake.missed">Select Team</h4>
        <select ng-show="snake.missed" name="draftedTeam" ng-model="snake.missedTeam" id="draftedTeam">
          <option ng-repeat="team in snake.missedPicks track by $index" value={{team}}>{{team}}</option>
        </select>
        <button ng-show="snake.missed" ng-click="snake.makeMissed()">Make missed pick</button>
        <br>
    </div>
    <div class="search col-md-4">
      <label for="Search">Search by Name:</label>
      <input type="text" ng-model="searchInput" id="search" />
      <ul>
        <li ng-show="searchInput" ng-repeat="player in snake.data.players | filter:{lname: searchInput} | limitTo: 10"  ng-click="snake.selectPlayer(player)">
          {{player.displayname}} {{player.position}} {{player.team}}
        </li>
      </ul>
    </div>
    <div class="playerlist col-md-4">
      <div class="row">
        <p class="narrowList col-md-1" ng-repeat="position in snake.positions" ng-click="snake.narrow(position)">
          {{position}}
        </p>
      </div>
        <ul>
        <li ng-repeat="player in snake.displayList track by $index" ng-click="snake.selectPlayer(player)">
          {{player.overallRank}}. {{player.displayName}} {{player.displayname}} {{player.position}} {{player.team}}
        </li>
      </ul>
      <button ng-show="snake.endList" ng-click="snake.prevDisplay()">Prev</button>
      <button ng-show="snake.startList"ng-click="snake.nextDisplay()">Next</button>
    </div>
  </div>
