/*.teams{
  width: 150px;
  display: inline-block;
  text-align: center;
}
.teams li{
  list-style: none;
  float: left;
}
.displayList{
  float: right;
}
.displayList li{
  list-style: none;
}
.narrowList{
  display: inline;
  color: blue;
}*/
